/* Change brand Name Font */
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

/* Change Navigation color */
.navbar #myMenu .custom-nav .nav-item a {
    color: #fff;
}

.navbar #myMenu .custom-nav .nav-item a:hover {
    color: #f0aab1;
}

/* Make Header Image Responsive */
.back-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 90vh;
    border-radius: 0px;
    margin-top: 74px;
}

/* Header Image Sub-Title */
.font-italic {
    font-size: 24px;
}

.fi-color {
    color: #dc3545;
}

.fi-color:hover{
    color: #e994a2;
}
a {
    color: black;
}

.active {
    color: white;
    background-color: #dc3545;
}

a:hover{
    color: #f26571;
}

/*Margin for Welcome to PMS */
.mainHeading {
    margin-top: 50px;
}

/* */
@media only screen and (max-width: 600px) {

.myclass {
    margin-top: 350px;
    text-align: center;
}
}